<%= content_for(:title, t('views.products.edit')) %>

<div class="row">
    <h1><%= t('views.products.edit') %></h1>

    <%= render 'form', product: @product %>

    <%= link_to t('views.show'), @product, class: 'btn btn-info' %> |
    <%= link_to t('views.back'), products_path, class: 'btn btn-default' %>
</div>